doctype html
html(xmlns:v="urn:schemas-microsoft-com:vml", xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    title
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    include style 
  body
    table.nl-container(width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation")
      tbody
        tr
          td

            // LOGO BLOCK
            table.row.row-1(align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation")
              tbody
                tr
                  td
                    table.row-content(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#fff;" width="700")
                      tbody
                        tr
                          td.column.column-1(width="100%" style="padding-top:20px;")
                            table(class="image_block block-1" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation")
                              tr
                                td.pad(style="width:100%;padding-right:0;padding-left:0")
                                  .alignment(align="center" style="line-height:10px")

                                    // LOGO
                                    a(href="#" target="_blank" style="outline:none" tabindex="-1")
                                      p(style="text-align: center") 
                                        | Nestjs Orm

            // CONTENT BLOCK
            table.row.row-2(align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation")
              tbody
                tr
                  td
                    table.row-content.stack(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#fff;" width="700")
                      tbody
                        tr
                          td.column.column-1(width="100%" style="padding-top:15px;padding-bottom:5px;")

                            // CONTENT
                            block content

            table.row.row-3(align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation")
              tbody
                tr
                  td
                    table.row-content.stack(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#fff;" width="700")
                      tbody
                        tr
                          td.column.column-1(width="100%" style="padding-top:5px;padding-bottom:5px;")
                            div(class="spacer_block" style="height:40px;line-height:40px;font-size:1px") &amp;#8202;

            // FOOTER BLOCK
            table.row.row-4(align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation")
              tbody
                tr
                  td
                    table.row-content(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#1c4d76;" width="700")
                      tbody
                        tr
                          td.column.column-1(width="100%" style="padding-top:5px;padding-bottom:5px;")
                            table.break-word(class="text_block block-1" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation")
                              tr
                                td.pad(align="center" style="padding-bottom:20px;padding-left:10px;padding-right:10px;padding-top:20px")
                                  div(style="font-family:sans-serif")

                                    // FOOTER
                                    .text(style="color:#fff")
                                      p(style="text-align:center")
                                        span(style="font-size:14px;") 
                                          | Nestjs Orm Application, Bandung, West Java, Indonesia
                                      p(style="text-align:center")
                                        span(style="font-size:14px;")
                                          strong © 2024 Nestjs Orm Application

            table.row.row-5(align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation")
              tbody
                tr
                  td
                    table.row.row-content.stack(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="700")
                      tbody
                        tr
                          td.column.column-1(width="100%" style="padding-top:0;padding-bottom:0;")
                            div(class="spacer_block" style="height:50px;line-height:50px;font-size:1px") &amp;#8202;
    // End
