extends baseEmail

block content
  table.break-word(width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation")
    tr
      td.pad
        .text
          p 
            strong Hi #{firstName},
            br
            | We recently received a request to reset your account password. Simply click below and we&apos;ll help you quickly to get back.
  table(width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation")
    tr
      td
        .alignment(align="center")
          a.btn(href=`${url}` target="_blank") Reset Your Password
  table.break-word(width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation")
    tr
      td.pad
        .text
          p Please note: This link can only be used once and will become inactive in 24 hours. If you do not need to reset your password, please ignore this email.
            br
            br
            | Thanks,
            br
            | Expense Gem App
