extends baseEmail

block content
  table.break-word(width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation")
    tr
      td.pad
        .text
          p 
            strong Hi #{firstName},
            br
            | Your password has been successfully reseted 🎉🎉✨
  table(width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation")
    tr
      td
        .alignment(align="center")
          a.btn(href=`${url}` target="_blank") Sign In
  table.break-word(width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation")
    tr
      td.pad
        .text
          p If you need any help please don't hesitate to contact us!
            br
            | - Nestjs Orm Team